<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711189707453-ghi036r3bt1fo5iia7hb3hto3ud5kmsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711189707453-ghi036r3bt1fo5iia7hb3hto3ud5kmsr</string>
	<key>API_KEY</key>
	<string>AIzaSyCmfHt785AG0SmotAGJTkeyU6jsaedkafM</string>
	<key>GCM_SENDER_ID</key>
	<string>711189707453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vffgroup.vffgroup</string>
	<key>PROJECT_ID</key>
	<string>vff-group-b185c</string>
	<key>STORAGE_BUCKET</key>
	<string>vff-group-b185c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711189707453:ios:c04d656ccc9448110b55d4</string>
</dict>
</plist>